<body>
    <form asp-controller="Home" asp-action="" method="post">
        <p>Sign Up</p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Surname" placeholder="Surname" required>
        <input type="text" name="Email" placeholder="example@gmail.com" required>
        <button type="submit">Submit</button>
    </form>
</body>